<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <link href="/static/style.css" rel="stylesheet" />
    {% block head %}
    <!-- Les pages spécifiques peuvent ajouter des CSS ici -->
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <div id="particles-js"></div>

    <div id="content">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="/" data-tooltip="Calcul du ressenti en fonction de la température et de l'humidité">Température</a></li>
                    <li><a href="/bd" data-tooltip="Récupération de données">Base de donnée</a></li>
                    <li><a href="/bdQuestion" data-tooltip="Traitement de données">Question, BD</a></li>
                    <li><a href="/influxdb" data-tooltip="Prediction météorologique">InfluxDB</a></li>
                    <li><a href="/scikit" data-tooltip="Classifieur RF avec sickit">Classifieur RF</a></li>
                    <li><a href="/tensorflowML" data-tooltip="Classifieur ML avec tensorflow">Classifieur ML</a></li>
                    <li><a href="/tensorflowCNN" data-tooltip="Classifieur CNN avec tensorflow">Classifieur CNN</a></li>
                    <li><a href="/imagerie" data-tooltip="Imagerie avec ia youhou">Imagerie IA</a></li>
                    <li><a href="#" data-tooltip="Section bientôt disponible">Bientôt</a></li>
                </ul>
            </nav>
            <a href="/DLcpp" class="btn-download glass-button">
                📥 Télécharger le projet IA
            </a>
        </header>
    
        <main id="main_content">
            {% block content %}
            <!-- Le contenu spécifique à chaque page sera injecté ici -->
            {% endblock %}
        </main>
    
    </div>

    <!-- scripts -->
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<footer class="footer">
    <div class="footer-content">
        <p><i class="fa-regular fa-copyright"></i> 2025 Tous droits réservés.</p>
        <p></i> Berkan Akin / Mathieu Servonnet / Mael Trouba </p>
        <p>https://github.com/VincentGarreau/particles.js/</p>
        <div class="tenor-gif-embed" data-postid="16057126" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%" style="padding-top: 0;"><a href="https://tenor.com/view/jordi-baste-tv3-no-pot-ser-com-robot-gif-16057126">Jordi Baste Tv3 GIF</a>from <a href="https://tenor.com/search/jordi+baste-gifs">Jordi Baste GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></footer>
    </div>
</html>