{% extends "base.html" %}
{% block content %}
{% block head %}

<link href="/static/bd.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
    <h1>Question, Base de donnée</h1>

    <div class="dropdown-container">
        <label for="data-select">Afficher :</label>
        <select id="data-select" onchange="filterData()">
            <option value="artists">Liste des Artistes</option>
            <option value="albums">Albums par Artiste</option>
            <option value="artistpop">Artistes populaires</option>
            <option value="client">Clients les plus dépensiers</option>
            <option value="genre">Genre et nombre de pistes</option>
        </select>
    </div>
    
    <div class="scroll-zone">
        <div id="artists-section">
            <h2>🎤 Artistes </h2>
            <ul>
                {% for artist in artists %}
                    <li>{{ artist.Name }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <div id="albums-section" style="display:none;">
            <h2>💿 Albums</h2>
            <ul>
                {% for artist in artistsq2 %}
                    <li>
                        <strong>{{ artist.Name }}</strong> — {{ artist.Nombre }} album(s)
                        <ul>
                            {% for album_title in artist.Albums %}
                                <li>{{ album_title }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <div id="artistpop-section" style="display:none;">
            <h2>Artistes populaires</h2>
            <ul>
                {% for artist_name, nombre_ventes in artistpop %}
                    <li>{{ artist_name }} — {{ nombre_ventes }} ventes</li>
                {% endfor %}
            </ul>
        </div>

        <div id="client-section" style="display:none;">
            <h2>Clients les plus dépensiers</h2>
            <ul>
                {% for client in clients %}
                    <li>{{ client.FirstName }} - {{ client.LastName }} - {{ client.Total }} €</li>
                {% endfor %}
            </ul>
        </div>

        <div id="genre-section" style="display:none;">
            <canvas id="genreChart" width="800" height="400"></canvas>
        </div>
    </div>

    <script>
        function filterData() {
            const value = document.getElementById("data-select").value;
        
            document.getElementById("artists-section").style.display = "none";
            document.getElementById("albums-section").style.display = "none";
            document.getElementById("artistpop-section").style.display = "none";
            document.getElementById("client-section").style.display = "none";
            document.getElementById("genre-section").style.display = "none";
            
            console.log(value)

            if (value === "artists") {
                document.getElementById("artists-section").style.display = "block";
            } else if (value === "albums") {
                document.getElementById("albums-section").style.display = "block";
            } else if (value === "artistpop") {
                document.getElementById("artistpop-section").style.display = "block";
            } else if (value == "client"){
                document.getElementById("client-section").style.display = "block";
            } else if (value == "genre"){
                document.getElementById("genre-section").style.display = "block";
            }
        }

        const labels = {{ labelsPy|tojson|safe }};
        const values = {{ valuesPy|tojson|safe }};

        const ctx = document.getElementById('genreChart').getContext('2d');
        const genreChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Nombre de pistes',
                    data: values,
                    backgroundColor: '#30cbff'
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Nombre de pistes par genre (Chinook)'
                    }
                },
                scales: {
                    x: { title: { display: true, text: 'Genres musicaux' } },
                    y: { title: { display: true, text: 'Nombre de pistes' }, beginAtZero: true }
                }
            }
        });
    </script>
{% endblock %}