{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% endblock %}
{% block content %}

<div class="container">
  <h2>Upload et traitement d'image</h2>
  <div class="row">
    <div class="col-md-6">
      <input type="file" id="fileInput" class="form-control">
      <br>
      <label>Score Threshold: <span id="score-value">{{ score }}</span></label>
      <input type="range" id="threshold" min="0" max="1" step="0.01" value="{{ score }}">
      <br><br>
      <label>Modèle:</label>
      <select id="model_name" class="form-control">
        {% for model in available_models %}
        <option value="{{ model }}">{{ model }}</option>
        {% endfor %}
      </select>
      <br>
      <button id="uploadBtn" class="btn btn-primary">Upload & Process</button>
    </div>
    <div class="col-md-6">
      <img src="" id="imagePreview" style="max-width:100%;">
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function loadImg(){
    $('#imagePreview').attr('src', URL.createObjectURL(event.target.files[0]));
}
$('#fileInput').change(loadImg);

$('#threshold').on('input', function(){
    $('#score-value').text($(this).val());
});

$('#uploadBtn').click(function(){
    var formData = new FormData();
    formData.append('file', $('#fileInput')[0].files[0]);
    formData.append('threshold', $('#threshold').val());
    formData.append('model_name', $('#model_name').val());

    $.ajax({
        url: '/imagerie/upload',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function(data){
            $('#imagePreview').attr('src', data.url);
        }
    });
});
</script>
{% endblock %}